body{
    background-color: #0a0d10;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    text-align: right;
}
.logo{
    position: absolute;
    right: 5%;
    top: 5%;

}
.logo img{
    
    height: 38px;
}

.ads{
    position: relative;
    width: 90%;
    height: 600px;
    border-radius: 20px;
    background-image: url(../images/fifae-club-series-complexity.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-top: 100px;
    
}
.small-size{
    font-weight: normal !important;
    font-size: 30px !important;
}
.main-cont{
    font-size: 40px;
    color: #ffffff;
    padding-top: 100px;
    font-weight: bold;
    z-index: 1000;
}
.prizes img{
    width: 100px;
    height: 100px;
}
.prizes{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.main-prize{
    direction: ltr;
    text-align: left;
}
.form-button{
    background-color: crimson;
    color: #ffffff;
    width: 30%;
    height: 60px;
    border-radius: 20px;
    border-color: unset;
    border: unset;
    font-weight: bold;
    z-index: 30000;
    
    
}
.black-bg{
width: 100%;
height: 100%;
position: absolute;
background-color: #000;
opacity: 0.7;
display: none;
z-index:0.1 ;
border-radius: 20px;
left: 0;
top: 0;
}
.sub-btn{
    z-index: 1000;
}
@media (max-width:600px) {
    .ads{
        height: auto;
        padding: 20px 0;
    }
    .main-cont{
        font-size: 27px;
        text-align: center;
        padding-top: 35px;
    }
    .form-button{
        width: 100%;
        margin-bottom: 40px;
    }
    .black-bg{
        display: unset;
    }
    .mopile-mode{
        display: none !important;
    }
    .form-group input{
        width: 100% !important;
        
    }
    .form-group label{ 
        font-size: 20px !important;
     
        }
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
font-size: 30px;
font-weight: bold;
color: #ffffff;
padding-bottom: 5px;
}
.form-group input{
    width: 70%;
    height: 50px;
}

#modal {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1000;
    background: #03a9f4;
    width: 450px;
    padding: 80px 80px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
    visibility: hidden;
}

.active {
    visibility: visible !important;
    top: 50% !important;
}

 .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



 .content h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin: 20px 0 10px;
}


 .content .inputBox {
    position: relative;
    width: 100;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close{
    position: absolute;
    top: -30px;
    right: -20px;
    color: #333;
    cursor: pointer;
    font-size: 40px;
}



